ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

li {
    display: flex;
    justify-content: flex-start;
    width: 400px;
}

li label {
    border-bottom: 1px solid black;
    width: 400px;
}

body {
    background-color: antiquewhite;
}

.checked {
    text-decoration: line-through;
    text-decoration-color: rgb(57, 221, 57);
}

.editForm input {
    width: 250px;
    height: 3vh;
    font-size: 1.5rem;
    margin-left: 40px;
    padding: 5px;
}

input[type=checkbox] {
    width: 20px;
    height: 20px;
    margin: 10px;
}

button {
    margin: 5px;
}

.container {
    display: flex;
    justify-content: space-around;
    height: auto;
}

#todoText {
    width: 250px;
    height: 5vh;
    font-size: 1.5rem;
}

.styleSections {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    width: 400px;
}

.timerInput {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
}

#timerDisplay {
    font-size: 3rem;
}

.sameWidth {
    display: inline-block;
    width: 122px;
    text-align: end;
    margin-right: 10px;
}

.customDisplay {
    font-size: 1rem;
    text-align: end;
}